body {
    background-color: lightgrey;

}

.header {
    height: 100px;
    padding: 25px;

}

h3 {
    
}

.game-output, .chat {
    height: 300px;
    width: 100%;
    overflow: auto;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px auto;
}

.rps-btns {
    height: 160px;
    width: 100%;
    padding: 50px;


}

button {
    min-width: 75px;
    margin: 5px 0px 5px 0px;
}

.scores {
    margin-top: 20px;
    font-weight: bold;
}